@tailwind base;
@tailwind components;
@tailwind utilities;

/* loading spinner */
.loadingSpinnerContainer {
  @apply fixed top-0 right-0 left-0 bottom-0 bg-black bg-opacity-30
  z-[5000] flex justify-center items-center
}

.loadingSpinner {
  width: 64px;
  height: 64px;
  border: 8px solid;
  border-color: #000 transparent #555 transparent;
  border-radius: 50%;
  animation: spin 1.2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}